.TodoList {
    padding: 25px;
    display: flex;
  }
  
  .todo {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px 20px;
  }
  .todo_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .TodoList > .todo {
    margin: 15px;
  }
  label {
    cursor: pointer;
  }
  li {
    margin-top: 10px;
  }
  