.TodoList {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.todo {
  /* border: 1px solid rgb(0, 95, 107); */
  border-radius: 24px;
  background: linear-gradient(145deg, #9beeeb, #e0ffff);
  box-shadow: 31px 31px 67px #f3d9fd, -31px -31px 67px #eaf8f8;
  border-radius: 10px;
  padding: 5px 20px;
}
.todo_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TodoList > .todo {
  margin: 1rem;
}
label {
  cursor: pointer;
}
li {
  margin-top: 10px;
}

/* button create todolist*/

.cta {
  display: block;
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #99e1f7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #0f3964;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #1780a0;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #62c1df;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
